/* Configuração para rolagem suave */
html {
    scroll-behavior: smooth;
}

/* Customização do Header ao rolar */
/* O header começa transparente ou branco e muda conforme JS */
#main-header {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease, padding 0.3s ease;
}

.header-hidden {
    transform: translateY(-100%);
}

.header-visible {
    transform: translateY(0);
}

/* Animação de Fade In ao scrollar */
.fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

/* Ajuste para o mapa ficar grayscale e colorido ao hover */
iframe {
    filter: grayscale(100%);
    transition: filter 0.3s;
}

iframe:hover {
    filter: grayscale(0%);
}